Makefile
CMakeFiles/
CMakeCache.txt
build/
env.sh
*~
*.pro
*.pro.user
*.autosave
.vscode/
.clangd
compile_commands.json
workspace.code-workspace
docs/api/*
deps/include/ProjectVersion.h
scripts/gitlab/release-assets.sh
scripts/gitlab/deploy-production.sh
